<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui secondary inverted large pointing menu">
            <a class="toc item"></a>
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <div class="ui right floated item">

                <a routerLink="/user" routerLinkActive="active" class="ui button">Log in</a>
                <a class="ui button" (click)="logOut()">Log out</a>
                <a routerLink="/cart" routerLinkActive="active" class="ui button">Cart<div class="ui label red">{{cartqty}}</div></a>
            </div>
        </div>


    </div>

</div>
<div class="ui very padded segment">
    <div class="ui four doubling stackable cards">
        <div class="ui card" *ngFor="let product of products">
            <div class="ui image">
                <img src="/images/avatar2/large/matthew.png">
            </div>
            <div class="content">
                <div class="header">{{product.name}}</div>
                <div class="meta">
                    <p>NGN {{product.price}}</p>
                </div>
            </div>
            <div class="extra content center">
                <div class="ui button center">
                    <div class="ui green fluid button center" (click)="addToCart(product._id)">Add to Cart</div>
                </div>
            </div>
        </div>
    </div>
</div>